<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
  </head>
  <body class="bg-peacock-blue text-white pb-20">
    <a href="/" style="position: absolute; top: 0; left: 0; font-size: 24px; font-weight: bold;">KnockKnock</a>
    <h1>Services Page</h1>
    <!-- Content for Services will go here -->
  <!-- Footer removed as per request -->
  </body>
</html>